<!DOCTYPE html>
<html lang="en">

    <head>
		<title> Accueil </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


		<link rel="stylesheet" href="{{ url_for('static', filename="css/accueil.css") }}" />
	</head>
	<body>
        <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
            <div class="logo-img">
	    	    <img class="mb-4" src="{{ url_for('static', filename="img/musique.jpg") }}">
	        </div>
          <!-- Links -->
          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link active" href="/parametre"> Hello {{ session['login'] }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/genre">Melydo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/musique/mesLikes">Mes Likes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/musique/propositions">Mes propositions</a>
            </li>
            <li class="nav-item mr-sm-2">
              <a class="nav-link active" style="margin-left: 550%" href="/logout">Deconnexion</a>
            </li>
          </ul>

        </nav>

        <h2 style="text-align:center;"> <span>------ Tes Likes ------</span></h2>
        {% if musiques.empty %}
            <h3>Pas de musique liker</h3>
        {% else %}



<div class="liste_musique" style="margin-left: 5%; margin-top: 2%">
	<!-- Team -->
	<section id="team" class="pb-2">
	    <div class="container">
	        <div class="row">
	            <!-- Team member -->

                {%for m in musiques%}
                <div class="col-xs-12 col-sm-6 col-md-3">
	                <div class="image-flip" >
                    <div class="image-flip" >

                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class="mb-4" src="{{ url_for('static', filename="img/"~m.split("/")[3]~".jpg") }}" alt="card image"></p>

                                        <a href="image/blues.jpg" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">écouter la musique</h4>
                                        <figure>
                                          <figcaption>{{m.split("/")[4].split('.wav')[0]}}:</figcaption>
                                          <audio controls type="audio/mp3" >
                                              <source src={{ url_for('static', filename= m.split("/static/")[1]) }}>
                                              Your browser does not support the audio element.
                                          </audio>
                                        </figure>
                                         <a class="nav-link" href="/musique/dont_like/{{m.split("/")[4].split(".wav")[0]}}">Je n'aime plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
	                </div>
	            </div>
	            <!-- ./Team member -->
                  {% endfor %}
            </div>
        </div>

	</section>
						</div>
		</li>
	</ul>
    </div>


        {% endif %}


    </body>
</html>